.nav {
    /*background: #35D59D;*/
    grid-area: n;
}

.link {
    text-decoration: none;
    color: #00AB6F;
    padding: 15px 0 0 10px;
    font-weight: normal;
    letter-spacing: 0.5px;
}


.activeLink {
    color: #FF7E40;
}